*, :root{
  tab-size: 0;
}

body{
  /* -webkit-font-smoothing: anti-aliased; */

}
.App {
  text-align: center;
  box-sizing: initial;
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  display: grid;
  grid-gap: 10px 0;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: 1fr auto 5fr; */
  grid-row-gap: 20px;
  grid-template-areas:
    "header header"
    "main main"
    "main2 main2"
    "footer footer";
}

h1, th {
  color: #0d5;
  font-weight: 800;
  margin: 0px;
}

h2, td {
  color: grey;
  font-weight: 500;
  margin: 0px;
}

.App-header {
  grid-area: header;
  /* font-size: 3rem; */
  color: gray;
  top: 0px;
  display: block;
  letter-spacing: 20px;
  margin: 20px;
}

.App-footer {
  grid-area: footer;
  /* font-size: 3rem; */
  color: gray;
  bottom: 0px;
  display: block;
  letter-spacing: 20px;
  margin: 20px;
}

.App-social {
  position: relative;
  grid-area: social;
  display: flex;
  justify-content: center;
  /* line-height: 0; */
  /* width: 200px; */
  /* height: 120px; */

}

.socialBtns {
  /* height: 2rem; */
  padding: 20px;
  letter-spacing: 10px;
}

.socialBtns:hover{
  filter: drop-shadow(12px 12px 7px rgba(0, 221, 85, 0.4));
}

.App-bio {
  display: grid;
  position: relative;
  grid-area: main;
  color: black;
  grid-gap: 20px 0;
  grid-template-columns: 2fr 4fr 4fr;
  grid-auto-rows: auto;
}

.profilePic{
  margin-right: 20px;
  margin-left: 20px;
  height: 100%;
}

.myBio{
  padding: 10px;
  /* font-size: 4rem; */
  text-align: left;

}

.experience{
  text-align: start;
  /* font-size: 4rem; */
  /* width: 40%; */
}

th, tr {
  padding-bottom: 10px;  
}

td {
  padding: 1fr 0;
  /* padding-right: 30%; */
}

table {
  table-layout: fixed;
  width: 100%;
  /* font-size: 4rem; */
  border-collapse: separate;
  border-spacing: 10px 0;

}

tr:nth-child(even) {
  background: linear-gradient(-85deg, white, #0d5);
}

li{
  /* margin-left: 2rem; */
}

.myApps {
  position: relative;
  grid-area: main2;
  background: linear-gradient(85deg,#0d5, white);
  padding: 20px;
  border-top: 1px double #0d5;
}

.myApps h2{
  display: block;
  /* font-size: 5rem; */
}

.appImages{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.appImages img{
  height: auto;
}

@media screen and (max-device-width : 600px){

  :root{
    tab-size: 0;
  }

  .App{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 95%;
  }

  .App-header{
    font-size: 1rem;
    letter-spacing: 0;
    display: block;
    margin-bottom: 20px;
    
  }

  .App-social{
    height: 20px;
    margin-bottom: 20px;

  }

  .App-bio{
    display: flex;
    flex-direction: column;

  }

  table, .experience{
    width: 100%;
    align-items: center;
  }

  .myBio{
    font-size: 1rem;
    margin: 0 5%;
  }

  table{
    font-size: 1rem;
    /* width: 100%; */
    margin: 0;
    margin: 20px 0;
    border-spacing: .5rem 0;
  }

  img.socialBtns, .appImg, .profilePic{
    width: 50%;
    height: auto;
    padding: 0;
    margin: 0;
    align-self: center;
  }

  .myApps h2{
    display: block;
    font-size: 100%;
  }

.appImages{
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between !important;
    text-align: center !important;
  }

}
