.App {
  /* text-align: center; */
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr auto auto 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
 "header header"
 "main main2"
 "form form"
 "footer footer";
}

h1{
  color: #0d5;
  font-weight: 400;
}

.profilePic {
  /* animation: App-logo-spin infinite 50s linear; */
  height: 60%;
  /* pointer-events: none; */
  padding: 1vw;
}

.App-header {
  grid-area: header;
  background-color: white;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1vh;
  color: gray;
  padding: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}


.App-bio{
  grid-area: main;
  background-color: lightgray;
  text-align: center;
  padding: 2vh;
  color: black;

}

.App-apps{
  grid-area: main2;
  background-color: lightgray;
  padding: 1vh;
  color: black;
  text-align: center;
  
}

.Contact-form, form{
  grid-area: form;
  text-align: start;
  padding: 2vh;
  width: 100%;
}

input{
  height: relative;
}

.formBtn{
  background-color:#0d5;
  font-weight: 800;
  color: white;
  font-size: 2vw;
  border-radius: 25px;
  padding: 1vh;

}

input[type=text]{
  /* width: 50; */
  padding: 1vw; 
  /* max-width: 30; */
  /* border: 1px solid #0d5;  */
  border-radius: 1vw; 
  /* margin: 1vw 1vw; */
  /* align-content: space-between; */

}

textarea{
  height: 5vh;
  width: 50%;
  /* box-sizing: border-box; */
  resize: all;
  border-radius: 1vw; 
}

input[type=text]:focus, textarea:focus {
  border: 1px solid #0d5;
}

.App-footer{
  background-color: white;
  grid-area: footer;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2vw;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.socialBtns{
  height: 3vw;
  padding: 2vw;
}

.App-link {
  color: #61dafb;
}
